@model webapp4_mvc.Models.Broker

@{
    ViewData["Title"] = "create";
}
<style>
     input {
        width: 25em !important;
    }

    label {
        font-weight: bold !important;
    }
  table{
  
         border-spacing: 80px 50px;

         border-radius: 15px;
       
         width: 250px;
         
         /*background-color:#bdf5bfc4;*/
         padding:450px;
         margin:auto;
         border:
  }
  
   .Signup{
    display: none !important;
    }

</style>
<h1 style="text-align:center;font-family:monospace">Create Broker</h1>


<hr />

<div class="row" style="padding-left:450px">
    <div class="col-md-4">
 
     
        <form asp-action="create">
            <table style="font-family:monospace">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <tr>
                    <th></th>
                    
                    <th></th>
                    
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <label asp-for="BrokerId" class="control-label"></label>
                        <input asp-for="BrokerId" class="form-control" />
                        <span asp-validation-for="BrokerId" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                         <label asp-for="AdjestorId" class="control-label"></label>
                         <input asp-for="AdjestorId" class="form-control" />
                         <span asp-validation-for="AdjestorId" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                         <label asp-for="BrokerName" class="control-label"></label>
                        <input asp-for="BrokerName" class="form-control" />
                        <span asp-validation-for="BrokerName" class="text-danger"></span>
                    </td>
                </tr>
               @* <tr>
                    <td>
                         <label asp-for="BrokerName" class="control-label"></label>
                        <input asp-for="BrokerName" class="form-control" />
                        <span asp-validation-for="BrokerName" class="text-danger"></span>
                    </td>
                </tr*@>
                
            </table>
            
           @* <div class="form-group">
                <label asp-for="BrokerId" class="control-label"></label>
                <input asp-for="BrokerId" class="form-control" />
                <span asp-validation-for="BrokerId" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <label asp-for="AdjestorId" class="control-label"></label>
                <input asp-for="AdjestorId" class="form-control" />
                <span asp-validation-for="AdjestorId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="BrokerName" class="control-label"></label>
                <input asp-for="BrokerName" class="form-control" />
                <span asp-validation-for="BrokerName" class="text-danger"></span>
            </div>
           
            <br />
            
            *@
            <br />
            <br />
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </form>
    
    </div>
</div>
<br />
@*<div class="form-group" style="text-align:center">
                <type="submit" value="Create" class="btn btn-outline-success" />
            </div>**@

<div style="margin-top:5em;">
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


